<%- include("../partials/head", {tituloWeb: "Editar Producto", cssstyle: "/css/styles.css"})%>
<body>
<!--HEADER -->
<%- include("../partials/header") %> 
<!--CONTENIDO PRINCIPAL -->
<section class="edit-section">
        <form class="form-edit" action="/products/edit/<%= biciEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
          <h2 class="form-title">Formulario de Modificación de Productos</h2>
          <div class="form-container">
            <div class="form-group">
              <input type="text"  required minlength="2" value="<%= biciEditar.name%>" class="form-input" name='nombre' placeholder=" " />
              <label for="nombreProducto" class="form-label">Nombre del Producto</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text"  required minlength="2" value="<%= biciEditar.description%>" class="form-input" name="descripcion" placeholder=" "/>
              <label for="description" class="form-label">Descripción</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text"  class="form-input" name="precio" placeholder=" " value="<%= biciEditar.price%>"/>
              <label for='precio' class='form-label'>Precio</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text" class="form-input" value="<%= biciEditar.discount%>" name="descuento" placeholder=" "/>
              <label for='descuento' class='form-label'>Descuento</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text" class="form-input" value="<%= biciEditar.model.name%>" name="model" placeholder=" "/>
              <label for='model' class='form-label'>Modelo</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">              
            <input type="text" id='color' value="<%= biciEditar.size.name%>" class="form-input" name="talla" placeholder=" "/>
              <label for='color' class='form-label'>Talla</label>
              <span class="form-line"></span>
            </div>
            <input type="file" name="imagen" >
            <input type="submit" class="form-submit" id="submit-register">
            <input type="reset" class="form-submit" id="reset-register">
          </div>
  </section>
<!--FOOTER -->
<%- include("../partials/footer") %>