<%- include("../partials/head", {tituloWeb: "Crear Producto Nuevo", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("../partials/header") %>
  <!--CONTENIDO PRINCIPAL -->
  <section class="edit-section">
    
    <form class="form-edit" action="/products/create" method="POST" enctype="multipart/form-data">
      <h2 class="form-title">Formulario de Alta de Productos</h2>
      <ul class="errores" type="none"></ul>
      <div class="form-container">
        <div class="form-group">
          <input type="text" class="form-input" id='nombreProducto' name='nombreProducto' placeholder=" "/>
          <label for="nombreProducto" class="form-label">Nombre del Producto</label>
          <span class="form-line"></span>
          <% if(locals.errors && errors.nombreProducto) { %>
            <p><%= errors.nombreProducto.msg %></p>
        <% } %>
        </div>
        <div class="form-group">
          <input type="text" class="form-input" id="descripcion"  name="descripcion" placeholder=" "/>
          <label for="descripcion" class="form-label">Descripción</label>
          <span class="form-line"></span>
          <% if(locals.errors && errors.descripcion) { %>
            <p><%= errors.descripcion.msg %></p>
        <% } %>
        </div>
        <div class="form-group">
          <input type="text" id='precio' class="form-input" name="precio" placeholder=" "/>
          <label for='price' class='form-label'>Precio</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <input type="text" id='descuento'  class="form-input" name="descuento" placeholder=" "/>
          <label for='derscuento' class='form-label'>Descuento</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <select name="modelo" id="modelo" class="custom-select">
            <option value="#" selected disabled>Seleccione su modelo</option>
            <% modelos.forEach(model => { %>
              <option value="<%=model.id %>"><%=model.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">           
          <select name="modelo" id="modelo" class="custom-select">
            <option value="#" selected disabled>Seleccione su talla</option>
            <% tallas.forEach(talla => { %>
              <option value="<%=talla.id %>"><%=talla.name %></option>
            <% }); %>
          </select>      
        </div>
        <input type="file" id="imagen"  name="imagen" >
        <input type="submit" class="form-submit" id="submit-register">
        <input type="reset" class="form-submit" id="reset-register">
      </div>
</section>
<script src="/js/productValidation.js"></script>
  <!--FOOTER -->
  <%- include("../partials/footer") %>
