<%- include("../partials/head", {tituloWeb: "Detalle de Producto", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("../partials/header") %>
  <!--DETALLE DEL PRODUCTO-->
  <section class="detail-section">
    <div class="detail-container-image">
      <img src="/img/bicis/<%= miBici.image%>" />
    </div>
    <div class="detail-container-description">
      <h2 class="detail-container-product"><%= miBici.name%></h2>
      <h2 class="detail-container-product"><%= miBici.model.name%></h2>
      <h3 class="detail-container-price">
        $<%= miBici.price %>
        <span class="detail-container-price-discount"
          ><%= miBici.discount%>%</span
        >
      </h3>
      <div class="detail-container-specification">
        <p class="detail-container-specification-pargraph">
          <%= miBici.description %>
        </p>
      </div>
      <form action="">
        <div class="detail-container-options">
        </div>
        <div class="detail-container-buy">
          <select class="detail-container-options-size" name="size" id="size">
            <option value="selectSize">Seleccionar Talla</option>
            <option value="size1">Small</option>
            <option value="size2">Medium</option>
            <option value="size3">Large</option>
          </select>
          <br>
          <input
            class="detail-container-buy-quantity"
            type="number"
            id="quantity"
            name="quantity"
            min="1"
            max="3"
            value="1"
          />
        </div>
        <button class="detail-container-buy-add">Añadir al Carrito</button>
      </form>
    </div>
  </section>
  <!--FOOTER -->
  <%- include("../partials/footer") %>
</body>
