<%- include("../partials/head", {tituloWeb: "Detalle de Producto", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("../partials/header") %>
  <!--DETALLE DEL PRODUCTO-->
  <section class="detail-section">
    <div class="detail-container-image">
      <img src="/img/mtb-poly-t7-1.jpg" />
    </div>
    <div class="detail-container-description">
      <h2 class="detail-container-product"><%= miBici.nombre%></h2>
      <h3 class="detail-container-price">
        <%= miBici.precio %>
        <span class="detail-container-price-discount"><%= miBici.descuento%></span>
      </h3>
      <div class="detail-container-specification">
        <p class="detail-container-specification-pargraph">
          <%= miBici.descripcion %>
        </p>
      </div>
      <form action="">
        <div class="detail-container-options">
          <select
            class="detail-container-options-color"
            name="color"
            id="color"
          >
            <option value="selectColor">Seleccionar Color</option>
            <option value="color1">Green & Blue</option>
            <option value="color2">Purple & Yellow</option>
            <option value="color3">Red & Green</option>
          </select>
          <select class="detail-container-options-size" name="size" id="size">
            <option value="selectSize">Seleccionar Talla</option>
            <option value="size1">S</option>
            <option value="size2">M</option>
            <option value="size3">L</option>
          </select>
        </div>
        <div class="detail-container-buy">
          <input
            class="detail-container-buy-quantity"
            type="number"
            id="quantity"
            name="quantity"
            min="1"
            max="3"
            value="1"
          />
          <button class="detail-container-buy-add">Añadir al Carrito</button>
        </div>
      </form>
      <a href="/administrar" class="btn btn-danger">Volver</a>
    </div>
  </section>
  <!--FOOTER -->
  <%- include("../partials/footer") %>
</body>
