<%- include("partials/head", {tituloWeb: "Bienvenidos Bicis 7G", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("partials/header") %>
  <!--CONTENIDO PRINCIPAL -->
  <main>
    <section class="bienvenida">
      <img src="/img/img-header-2.jpg" />
    </section>
    <!--PRODUCTOS DESTACADOS -->
    <section class="busqueda">
      <h2>Productos destacados</h2>
      <article class="vamosabuscar">
       
        <% bicis.forEach(bici => { %>
        <div class="producto">
          <a href="/products/detail/<%= bici.id%>"><img src="<%= bici.img%>" /></a>
          <div class="detalle-producto">
            <h4 class="precio"><%= bici.precio%></h4>
            <h4 class="descuentos"><%= bici.descuento%></h4>
            <h3><%= bici.nombre%></h3>
          </div>
        </div>
        <% }); %>
      </article>
    </section>
    <div class="separacion"></div>
  </main>
  <!-- FOOTER -->
  <%- include("partials/footer") %>
</body>
