<%- include("partials/head", {tituloWeb: "Bienvenidos Bicis 7G", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("partials/header") %>
  <!--CONTENIDO PRINCIPAL -->
  <main>
    <section class="bienvenida">
      <img src="/img/img-header-2.jpg" />
    </section>
    <!--PRODUCTOS DESTACADOS -->
    <section class="busqueda">
      <h2>Productos destacados</h2>
      <article class="vamosabuscar">
        <% if(bicis.length = 4){ %>
        <% bicis.forEach(bici => { %>
        <div class="producto">
          <a href="/products/detail/<%= bici.id%>"
            ><img src="/img/bicis/<%= bici.image%>"
          /></a>
          <div class="detalle-producto">
            <h4 class="precio">$<%= bici.price%></h4>
            <h4 class="descuentos">%<%= bici.discount%></h4>
            <h3><%= bici.name%></h3>
          </div>
        </div>
        <% }); %>
        <% } %>
      </article>
    </section>
    <div class="separacion"></div>
  </main>
  <!-- FOOTER -->
  <%- include("partials/footer") %>
</body>
