<%- include("../partials/head", {tituloWeb: "LOGIN - Bicis 7G", cssstyle: "/css/styles.css"})%> 
  <body>
<!--HEADER -->
<%- include("../partials/header") %>
<!--FORMULARIO INGRESO-->
<section class="login-section">
    <form class="form-login" action="/login" method="post" >
      <h2 class="form-title">Inicia Sesión</h2>
      <ul class="errores" type="none"></ul>
      <p class="form-paragraph">¿Aún no tienes una cuenta?<a href="/register" class="form-link">Entra aquí</a></p>
      <div class="form-container">
        <div class="form-group">
          <input type="email" id='email' class="form-input" name="email" placeholder=" "/>
          <label for="email" class="form-label">Email</label>
          <% if(locals.errors && errors.email) { %>
            <p><%= errors.email.msg %></p>
        <% } %>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <input type="password" id='password' class="form-input" name="password" placeholder=" "/>
          <label for='password' class='form-label'>Contraseña</label>
          <% if(locals.errors && errors.password) { %>
            <p><%= errors.password.msg %></p>
        <% } %>
          <span class="form-line"></span>
        </div>
      <div><p class="form-paragraph" ><input type='checkbox' name='recordame'> Recordarme</p></div>
        <input type='submit' class="form-submit" value="Entrar">

      </div>
</section>     
<script src="/js/loginValidation.js"></script> 
<!--FOOTER -->
<%- include("../partials/footer") %>