<%- include("../partials/head", {tituloWeb: "REGISTRO - Bicis 7G", cssstyle: "/css/styles.css"})%>
<body>
<!--HEADER -->
<%- include("../partials/header") %>
<!--FORMULARIO REGISTRO-->
<section class="register-section">
  <form class="form-register" action="/register" method="post" enctype="multipart/form-data">
    <h2 class="form-title">Resgístrate</h2>
    <div class="form-container">
      <div class="form-group">
        <input type="text" id='name' value="<%= locals.oldData ? oldData.name : null %>" class="form-input" name='name' placeholder=" "/>
        <label for="name" class="form-label">Nombre</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.name) { %>
          <p><%= errors.name.msg %></p>
      <% } %>
      </div>
      <div class="form-group">
        <input type="text" id='lastName' value="<%= locals.oldData ? oldData.lastName : null %>" class="form-input" name='lastName' placeholder=" "/>
        <label for="lastName" class="form-label">Apellido</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.lastName) { %>
          <p><%= errors.lastName.msg %></p>
      <% } %>
      </div>
      <div class="form-group">
        <input type="email" id='email' value="<%= locals.oldData ? oldData.email : null %>" class="form-input" name="email" placeholder=" "/>
        <label for='email' class='form-label'>Email</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.email) { %>
          <p><%= errors.email.msg %></p>
      <% } %>
      </div>
      <div class="form-group">
        <input type="password" id='password' class="form-input" name="password" placeholder=" "/>
        <label for='password' class='form-label'>Contraseña:</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.password) { %>
          <p><%= errors.password.msg %></p>
      <% } %>
      </div>
      <div class="form-group">
        <input type="password" id='confirm_password' class="form-input" name="confirm_password" placeholder=" "/>
        <label for='confirm_password' class='form-label'>Confirmar contraseña</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.confirm_password) { %>
          <p><%= errors.confirm_password.msg %></p>
      <% } %>
      </div>
      <div class="form-group">
        <input type="file" id='imageusers' class="form-input" name="imageusers" placeholder=" "/>
        <label for='imageusers' class='form-label'>Seleccionar Imagen</label>
        <span class="form-line"></span>
        <% if(locals.errors && errors.imageusers) { %>
          <p><%= errors.imageusers.msg %></p>
      <% } %>    
      </div>
      <input type="submit" class="form-submit" id="submit-register">
      <input type="reset" class="form-submit" id="reset-register">
    </div>
</section>
<!--FOOTER -->
<%- include("../partials/footer") %>